* {
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;

    --main-color: darkblue;
}

a {
    color: #301D66;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fde29339;
}

.header__wrapper {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.header__image {
    width: 120px;
    height: 120px;
}

@media (hover: hover) {

    .home-link:hover {
        transition: all 0.3s ease-in;
        transform: scale(1.1);
    }
}

.header__title {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

@media (hover: hover) {
    .header__title:hover  {
        transition: all 0.3s ease-in;
        background-color: #301D66;
        border-radius: 20px;
        color: white;
    }
}

a {
    display: inline-block;
    cursor: pointer;
}

.header__logo {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.header__links {
    text-align: center;
}

@media (hover: hover) {

    .header__link:hover {
        border-radius: 20px;
        box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.261);
    }
}

.navbar__links {
    display: flex;
    justify-content: space-around;
}

.header__link {
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.theme {
    border: 3px solid #301D66;
    border-radius: 50%;
    padding: 10px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #301D66;
    color: white;
}

.circle {
    border: 2px solid #301D66;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.mobile-menu {
    display: none;
}

.mobile-menu__first-line {
    border-bottom: 2px solid #301D66;
    margin: 0 auto;
    padding: 10px;
    width: 30px;
}

.mobile-menu__second-line {
    border-top: 2px solid #301D66;
    margin: 0 auto;
    padding: 10px;
    width: 30px;
}

.menu__burger-checkbox {
    position: absolute;
    opacity: 0;
    width: 55px;
    height: 55px;
    z-index: 5;
}

.content__wrapper {
    max-width: 1360px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}

.content__title {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: normal;
    color: rgb(49, 29, 103);
}

.h1-highlight {
    border-radius: 25px;
    color: white;
    padding: 10px;
    background-color: #301D66;
    /* margin-top: 10px; */
}

.social__container {
    padding: 20px;
}

.social__block {
    border: 2px solid #301D66;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.social__image {
    height: 48px;
}

.social__name {
    text-transform: uppercase;
    font-weight: bold;
}

.paragraph-line {
    padding-bottom: 10px;
}

@media (hover: hover) {

    .vk:hover, .telegram:hover {
        transition: all 0.3s ease-in;
        box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.261);;
    }
}

.iframe {
    border-radius: 25px;
    max-width: 600px;
}

.footer {
    background-color: #301D66;
    color: white;
}

.footer__wrapper {
    max-width: 1360px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer__social {
    border: 2px solid #301D66;
    background-color: #301D66;
    border-radius: 20px;
    width: 70px;
    margin: 0 auto;
}

.social__image {
    border-radius: 50px;
}

.telegram-logo {
    height: 57px;
}

@media screen and (max-width: 1024px) {

    .mobile-menu {
        display: flex;
    }

    .header__wrapper {
        justify-content: space-between;
    }

    .iframe {
        width: 100%;
    }

    .header__navbar {
        display: none;
    }

    .header__menu {
        display: none;
    }

    .theme {
        display: none;
    }

    .mobile-menu__first-line, .mobile-menu__second-line {
        transition: transform .3s ease-in;
    }

    .mobile-menu__first-line.open {
        transform: rotate(-45deg);
        position: relative;
        top: 10px;
        left: -7px;
    }

    .mobile-menu__second-line.open {
        transform: rotate(45deg);
        position: relative;
        top: -10px;
        left: -7px;
    }

    .header__navbar.menu_mobile {
        display: flex;
        position: absolute;
        top: 100px;
        left: -5px;
        width: 100%;
        flex-direction: column;
        background-color: var(--background-body);
        gap: 50px;
        transition: top .3s ease-in;
    }

    .header__menu.menu_mobile {
        display: flex;
        position: absolute;
        top: 595px;
        left: -5px;
        width: 100%;
        height: 100%;
        background-color: var(--background-body);
        transition: top .3s ease-in;
    }

    h1 {
        display: none;
    }

    .navbar__links {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .header.menu_mobile {
        padding-bottom: 20vh;
    }

    .header-nav__item {
        font-size: 32px;
    }

    .menu__link {
        font-size: 32px;
    }

    .content__title {
        font-size: 1.5em;
    }
    
}